.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  grid-gap: 40px;
  padding: 20px;
}

.grid-item {
  height: 150px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.grid-item img {
  width: 50%;
  object-fit: contain;
}
